body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.splash{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: open;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.splash .img{
    background-image: url("./logo.svg");
    height: 72px;
    width: 72px;
    z-index: 9;
}
.splash::after, .splash::before{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 30vw;
    z-index: 99;
    animation-name: open;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.splash::after{
    left: 30vw;
    animation-delay: 200ms;
}
.splash::before{
    left: 0;
    animation-delay: 2s;
}
@keyframes open{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(100%, 0);
    }
}

.content{
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    background-image: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    outline: 20px solid white;
    outline-offset: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 64px;
    color: transparent;
    margin: 0;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes fadeIn{
    0%{
        padding-top: 20px;
        color: transparent;
    }
    100%{
        padding-top: 0;
        color: white;
    }
}